
<h1>Logins</h1>

<form action="/login" method="POST">
  <label for="name">Name:</label>
    <input type="text" id="name" name="name">
  <label for="email">Email:</label>
    <input type="text" id="email" name="email">
  <label for="password">Password:</label>
    <input type="password" id="password" name="password">
  <button type="submit" value="submit">Log In</button>
</form>

<br><br><br>
<h1> Can't log in? Make sure you signed up. </h1>
<a href="/signup">Sign Up</a>
