
<h1>Sign Up</h1>
<h5>If you can't sign up, your email may have an account.</h5>

<form action="/signup" method="POST">
  <label for="name">name:</label>
    <input type="text" id="name" name="name">
  <label for="email">Email:</label>
    <input type="text" id="email" name="email">
  <label for="password">Password:</label>
    <input type="password" id="password" name="password">
  <button type="submit" value="submit">Sign Up</button>
</form>
