
<h1> Edit a plant here. </h1>

<form action="/plants/<%=@plant.id %>" method="POST">
  <!-- <input type="hidden" id="hidden" name="_method" value="patch"> –-->

  <label>Plant name:</label>
    <input type="text" name="name" value="<%=@plant.name %>"><br>
  <label>Water needed:</label>
    <input type="text" name="water_needed" value="<%=@plant.water_needed %>"><br>
  <label>Light needed:</label>
    <input type="text"  name="light_needed" value="<%=@plant.light_needed %>"><br>
<br>
  <input type="submit" value="Update">
</form>
