
<h1> Add a plant here. </h1>

<form action='/plants' method="POST">
  <label>Plant name:</label>
    <input type="text" name="name"><br>
  <label>Water needed:</label>
    <input type="text" name="water_needed"><br>
  <label>Light needed:</label>
    <input type="text" name="light_needed"><br><br>
<input type="submit" value="Create">
</form>

<br><br><br>
<a href="/plants">Plants Home</a><br>
<a href="/logout">Log Out</a>
<br>
