
<h1> Add a plant here. </h1>

<form action='/plants' method="POST">
  <label>Plant name:</label>
    <input type="text" name="plant[name]"><br>
  <label>Plant Type:</label>
    <input type="text" name="plant[type]"><br>
  <label>Water needed:</label>
    <input type="text" name="plant[water_needed]"><br>
  <label>Light needed:</label>
    <input type="text" name="plant[light_needed]"><br><br>
<input type="submit" value="Create">
</form>
