<h1> Your plant </h1>

<h2>Name: <%= @plant.name %> </h2>
<h4>Water needed: <%= @plant.water_needed %> </h4>
<h4>Light needed: <%= @plant.light_needed %> </h4>


<h2> Edit this plant here: </h2>
<a href="/plants/<%= @plant.id %>/edit">Edit Plant</a>

<br><br>
<h2> Add another new plant here: </h2>
<a href="/plants/new">New Plant</a><br>
