

<h1> Your plant </h1>

<h2>Name: <%= @plant.name %> </h2>
<h2>Water needed: <%= @plant.water_needed %> </h2>
<h2>Light needed: <%= @plant.light_needed %> </h2>

<h3> Add another new plant here: </h3>
<a href="/plants/new">New Plant</a><br>

<h3> Edit this plant here: </h3>
<a href="/plants/:id/edit">Edit Plant</a><br>
